fail_fast: true

repos:
  - repo: https://github.com/inab/python-extended-json-schema-validator.git
    rev: v0.15.1
    hooks:
      - id: jsonschema_dir_validate
        name: Check 2.0.x
        language: python
        always_run: true
        pass_filenames: false
        args: [ "json-schemas/2.0.x" ]
      - id: json_validation
        name: Validate 2.0.x prototype data
        language: python
        always_run: true
        pass_filenames: false
        args: [ "-c", "json-schemas/2.0.x", "prototype-data/2.0.x" ]
      - id: jsonschema_dir_validate
        name: Check 1.0.x
        language: python
        always_run: true
        pass_filenames: false
        args: [ "json-schemas/1.0.x" ]
      - id: json_validation
        name: Validate 1.0.x prototype data
        language: python
        always_run: true
        pass_filenames: false
        args: [ "-c", "json-schemas/1.0.x", "prototype-data/1.0.x" ]
      - id: jsonschema_dir_validate
        name: Check 0.4.x
        language: python
        always_run: true
        pass_filenames: false
        args: [ "json-schemas/0.4.x" ]
  - repo: https://github.com/jmfernandez/pre-commit_mirrors-actionlint.git
    rev: v1.6.25-r1
    hooks:
      - id: actionlint
        args:
          - "-ignore"
          - property "download-path" is not defined in object type
